#!/usr/bin/env python
# -*- coding: utf-8 -*-
# @TIME    : 2020/8/17 17:55
# @Author  : system
# @File    : {{file_name}}.py

import allure


class {{class_name}}:
    """
    {{class_description}}
    """

{{# interfaces}}
    @allure.step('{{summary}}')
    def {{function_name}}(self, item_fixture{{# path}}, {{.}}{{/ path}}, body=None):
        """
        {{function_description}}
        :param item_fixture: item fixture,
        :return response
        {{# param_description_list}}
            :param {{.}}
        {{/ param_description_list}}
        """
        resource = f'{{uri}}'
        {{# body}}body = body if body else {{body}} {{/ body}}
        {{# query_params}}params = {{query_params}}{{/ query_params}}
        response = item_fixture.request('{{method}}', resource{{# body}}, body{{/ body}}{{# query_params}}, params = params{{/ query_params}})
        return response

{{/ interfaces}}

